<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.39" targetFramework="net452" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net452" />
  <package id="NUnit" version="3.13.2" targetFramework="net452" />
  <package id="Selenium.Support" version="4.1.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="97.0.4692.7100" targetFramework="net452" />
  <package id="WindowsInput" version="6.3.0" targetFramework="net452" />
</packages>